body {
  background-color: #505050;
}
b,
pre {
  margin-top: 2px;
  color: white;
}
div {
  border-left: solid 5px #505050;
}
div.c0:hover {
  border-left: solid 5px #dfaf8f;
}
div.c1:hover {
  border-left: solid 5px #bfebbf;
}
div.c2:hover {
  border-left: solid 5px #7fb8bb;
}
div.c3:hover {
  border-left: solid 5px #d0bf8f;
}
div.c4:hover {
  border-left: solid 5px #93e0e3;
}
div.c5:hover {
  border-left: solid 5px #9fa79f;
}
div.c6:hover {
  border-left: solid 5px #8c5353;
}
div.c7:hover {
  border-left: solid 5px #4c7073;
}
button {
  border: none;
  font-family: monospace;
  font-size: 15px;
  padding: 5px 8px;
  text-decoration: none;
}
button.c {
  background: #646464;
}
button.c0 {
  color: #dfaf8f;
}
button.c1 {
  color: #bfebbf;
}
button.c2 {
  color: #7fb8bb;
}
button.c3 {
  color: #d0bf8f;
}
button.c4 {
  color: #93e0e3;
}
button.c5 {
  color: #9fa79f;
}
button.c6 {
  color: #8c5353;
}
button.c7 {
  color: #4c7073;
}
button.l {
  color: #505050;
}
button.l0 {
  background: #dfaf8f;
}
button.l1 {
  background: #bfebbf;
}
button.l2 {
  background: #7fb8bb;
}
button.l3 {
  background: #d0bf8f;
}
button.l4 {
  background: #93e0e3;
}
button.l5 {
  background: #9fa79f;
}
button.l6 {
  background: #8c5353;
}
button.l7 {
  background: #4c7073;
}
.node {
  display: block;
  margin-left: 2%;
  margin-right: 0.5%;
}
